{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_list %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url cl.opts|admin_urlname:'changelist' %}">{{ cl.opts.verbose_name_plural|capfirst }}</a>
{% if shipment_breadcrumb_post %}
&rsaquo; {{ shipment_breadcrumb_post.name }}
{% endif %}
</div>
{% endblock %}

{% block object-tools-items %}
  {% if has_add_permission %}
  <li>
    <a href="{% url 'admin:blog_shipment_bulk_add' %}" class="addlink">
      Добавить списком
    </a>
  </li>
  <li>
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink">
      Добавить изделие к отгрузке
    </a>
  </li>
  {% endif %}
{% endblock %}
