{% extends "admin/blog/workassignment/_action_form_base.html" %}
{% block wa_title %}Проверить и закрыть задачу: {{ original }}{% endblock %}
{% block wa_note %}
{% if rescheduled_note %}
<div class="waf-note">
  У задачи были переносы срока ({{ original.reschedule_count }}). При выборе «Выполнено» статус будет
  автоматически зафиксирован как «Выполнено с переносом сроков».
</div>
{% endif %}
{% endblock %}
{% block wa_btn_class %}cab-wa-btn--green{% endblock %}
{% block wa_submit_label %}Закрыть задачу{% endblock %}
